#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  width: 25%;
  height: 100%;
  /* text-align: center; */
}

.right {
  width: 75%;
  height: 100%;
}

